# Compiled sources
*.o
*.exe
moc_*.h
obj/
autopromix

# Other project stuff
Makefile
Makefile.Debug
Makefile.Release

# Temp files
*~
*.ini
*.out

# Project user files
*.user


# Logs
*.json
*.log
*.bin

# User files
*.tgz
*.tar.gz
*.png
*.zip

